<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.siro.demo.mapper.LogisticsMapper">
  <resultMap id="BaseResultMap" type="com.siro.demo.model.Logistics">
    <!--@mbg.generated-->
    <!--@Table logistics-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="gif_id" jdbcType="INTEGER" property="gifId" />
    <result column="giftid" jdbcType="INTEGER" property="giftid" />
    <result column="recipientid" jdbcType="INTEGER" property="recipientid" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, gif_id, giftid, recipientid, `status`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from logistics
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from logistics
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.siro.demo.model.Logistics">
    <!--@mbg.generated-->
    insert into logistics (id, gif_id, giftid, 
      recipientid, `status`)
    values (#{id,jdbcType=INTEGER}, #{gifId,jdbcType=INTEGER}, #{giftid,jdbcType=INTEGER}, 
      #{recipientid,jdbcType=INTEGER}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.siro.demo.model.Logistics">
    <!--@mbg.generated-->
    insert into logistics
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gifId != null">
        gif_id,
      </if>
      <if test="giftid != null">
        giftid,
      </if>
      <if test="recipientid != null">
        recipientid,
      </if>
      <if test="status != null">
        `status`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gifId != null">
        #{gifId,jdbcType=INTEGER},
      </if>
      <if test="giftid != null">
        #{giftid,jdbcType=INTEGER},
      </if>
      <if test="recipientid != null">
        #{recipientid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.siro.demo.model.Logistics">
    <!--@mbg.generated-->
    update logistics
    <set>
      <if test="gifId != null">
        gif_id = #{gifId,jdbcType=INTEGER},
      </if>
      <if test="giftid != null">
        giftid = #{giftid,jdbcType=INTEGER},
      </if>
      <if test="recipientid != null">
        recipientid = #{recipientid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.siro.demo.model.Logistics">
    <!--@mbg.generated-->
    update logistics
    set gif_id = #{gifId,jdbcType=INTEGER},
      giftid = #{giftid,jdbcType=INTEGER},
      recipientid = #{recipientid,jdbcType=INTEGER},
      `status` = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>